body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.form-center {
  display: flex;
  justify-content: center;
  margin: 1em;
}

.content-container {
  margin: 1em 0.3em 0 1em;
  display: flex;
}

.box {
  display: flex;
}
.print-answers{
  padding-left: 0;
}

.error{
  color: red;
  display: flex;
  justify-content: center;
  margin: 1em;
}