* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}

body {
    margin: 0px;
    padding: 0px;
    font-family: 'Courier New', Courier, monospace;
    background-color: #87CEEB;
}
img {
    max-width: 100%;
}

img .about{
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
    grid-gap: 20px;
    max-width: 800px;
    margin: 1em auto;
}

.card {
    display: grid;
    grid-template-rows: max-content 200px 1fr;
    border: 1px solid #999;
    background-color: #e4ddf4;
}

.card img {
    object-fit: cover;
    width: 100%;
    height: 100%;
}

.card h2 {
    margin: 0;
    padding: .5rem;
}

.card .content {
    padding: .5rem;
}

.card footer {
    background-color: #808080;
    color: #fff;
    padding: .5rem;
}

#heading {
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid rgba(0, 0, 0, 0.05);
}

.item {
    width: 10em;
    text-align: center;
    color: black;
}

.styled {
    border: 0;
    line-height: 2.5;
    padding: 10px 20px;
    font-size: 1rem;
    text-align: center;
    color: #fff;
    text-shadow: 1px 1px 1px #000;
    text-decoration: none;
    border-radius: 10px;
    background-color: rgba(220, 0, 0, 1);
    background-image: linear-gradient(to top left,
                                      rgba(0, 0, 0, .2),
                                      rgba(0, 0, 0, .2) 30%,
                                      rgba(0, 0, 0, 0));
    box-shadow: inset 2px 2px 3px rgba(255, 255, 255, .6),
                inset -2px -2px 3px rgba(0, 0, 0, .6);
}

.styled:hover {
    background-color: rgba(255, 0, 0, 1);
    cursor: pointer;
}

.styled:active {
    box-shadow: inset -2px -2px 3px rgba(255, 255, 255, .6),
                inset 2px 2px 3px rgba(0, 0, 0, .6);
}

.about_center{
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
}